# Sberbank Russian Housing Market

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

## Importing data

Train data

In [2]:
train_df = pd.read_csv('./data/train.csv', index_col='id')
train_df.head()

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo,6.407578e+06,155572,0.189727,0.000070,9576,5001.0,5,10309,11065.0,5,0,240.0,1,0,7,3,no,0,16,1,no,no,no,no,no,no,no,no,86206,40477,45729,21154,11007,10147,98207,52277,45930,36211,10580,25631,9576,4899,4677,10309,5463,4846,23603,12286,11317,17508,9425,8083,18654,9709,8945,211.0,25.0,0.0,0.0,0.0,2.0,184.0,0.0,0.0,0.0,211.0,0.0,0.0,0.0,206.0,5.0,1,2.590241,1.131260,13.575119,1.131260,0.145700,0.177975,2.158587,0.600973,1.080934,23.683460,1.804127,3.633334,5.419893,65.038716,1.0,5.419893,6.905893,1,0.274985,3.299822,0.992631,no,1.422391,10.918587,13.100618,13.675657,15.156211,1.422391,1,no,3.830951,5,1.305159,no,14.231961,101,24.292406,1,18.152338,5.718519,1.210027,1.062513,5.814135,4.308127,10.814172,1.676258,0.485841,3.065047,1.107594,8.148591,3.516513,2.392353,4.248036,0.974743,6.715026,0.884350,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,3.932040,14.053047,7.389498,7.023705,0.516838,good,0.00,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,7.36,0.00,1,30500,3,55600,19,527.78,888.89,708.33,1,10,4,3,1,0,0,1,2,0,0,6,1,14.27,6.92,3,39554,9,171420,34,566.67,969.70,768.18,1,14,11,6,2,0,0,1,2,0,0,7,1,11.77,15.97,9,188854,19,1244891,36,614.29,1042.86,828.57,1,15,11,6,2,1,0,1,2,0,0,10,1,11.98,13.55,12,251554,23,1419204,68,639.68,1079.37,859.52,5,21,22,16,3,1,0,2,4,0,0,21,1,13.09,13.31,29,807385,52,4036616,152,708.57,1185.71,947.14,12,39,48,40,9,4,0,13,22,1,0,52,4,5850000
2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,0.049637,6880,3119.0,5,7759,6237.0,8,0,229.0,1,0,6,1,yes,1,3,0,no,no,no,no,no,no,no,no,76284,34200,42084,15727,7925,7802,70194,35622,34572,29431,9266,20165,6880,3466,3414,7759,3909,3850,17700,8998,8702,15164,7571,7593,13729,6929,6800,245.0,83.0,1.0,0.0,67.0,4.0,90.0,0.0,0.0,0.0,244.0,1.0,1.0,143.0,84.0,15.0,2,0.936700,0.647337,7.620630,0.635053,0.147754,0.273345,0.550690,0.065321,0.966479,1.317476,4.655004,8.648587,3.411993,40.943917,2.0,3.641773,4.679745,2,0.065263,0.783160,0.698081,no,9.503405,3.103996,6.444333,8.132640,8.698054,2.887377,2,no,3.103996,4,0.694536,no,9.242586,32,5.706113,2,9.034642,3.489954,2.724295,1.246149,3.419574,0.725560,6.910568,3.424716,0.668364,2.000154,8.972823,6.127073,1.161579,2.543747,12.649879,1.477723,1.852560,0.686252,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,4.841544,6.829889,0.709260,2.358840,0.230287,excellent,25.14,0.00,0,0,0,0,5,860.00,1500.00,1180.00,0,1,3,0,0,1,0,0,1,0,0,0,0,26.66,0.07,2,86600,5,94065,13,615.38,1076.92,846.15,0,5,6,1,0,1,0,1,2,0,4,2,0,21.53,7.71,3,102910,7,127065,17,694.12,1205.88,950.00,0,6,7,1,2,1,0,1,5,0,4,9,0,22.37,19.25,4,165510,8,179065,21,695.24,1190.48,942.86,0,7,8,3,2,1,0,1,5,0,4,11,0,18.07,27.32,12,821986,14,491565,30,631.03,1086.21,858.62,1,11,11,4,2,1,0,1,7,0,6,19,1,10.26,27.47,66,2690465,40,2034942,177,673.81,1148.81,911.31,9,49,65,36,15,3,0,15,29,1,10,66,14,6000000
3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,0.118537,5879,1463.0,4,6207,5580.0,7,0,1183.0,1,0,5,1,no,0,0,1,no,no,no,yes,no,no,no,no,101982,46076,55906,13028,6835,6193,63388,31813,31575,25292,7609,17683,5879,3095,2784,6207,3269,2938,14884,7821,7063,19401,9045,10356,11252,5916,5336,330.0,59.0,0.0,0.0,206.0,4.0,60.0,0.0,1.0,0.0,330.0,1.0,0.0,246.0,63.0,20.0,3,2.120999,1.637996,17.351515,1.445960,0.049102,0.158072,0.374848,0.453172,0.939275,4.912660,3.381083,11.996480,1.277658,15.331896,3.0,1.277658,1.701420,3,0.328756,3.945073,0.468265,no,5.604800,2.927487,6.963403,8.054252,9.067885,0.647250,3,no,2.927487,4,0.700691,no,9.540544,5,6.710302,3,5.777394,7.506612,0.772216,1.602183,3.682455,3.562188,5.752368,1.375443,0.733101,1.239304,1.978517,0.767569,1.952771,0.621357,7.682303,0.097144,0.841254,1.510089,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,7.922152,4.273200,3.156423,4.958214,0.190462,poor,1.67,0.00,0,0,0,0,3,666.67,1166.67,916.67,0,0,2,1,0,0,0,0,0,0,0,0,0,4.99,0.29,0,0,0,0,9,642.86,1142.86,892.86,2,0,5,2,0,0,0,0,1,0,0,5,3,9.92,6.73,0,0,1,2600,14,516.67,916.67,716.67,2,4,6,2,0,0,0,0,4,0,0,6,5,12.99,12.75,4,100200,7,52550,24,563.64,977.27,770.45,2,8,9,4,1,0,0,0,4,0,0,8,5,12.14,26.46,8,110856,7,52550,41,697.44,1192.31,944.87,2,9,17,9,3,1,0,0,11,0,0,20,6,13.69,21.58,43,1478160,35,1572990,122,702.68,1196.43,949.55,10,29,45,25,10,3,0,11,27,0,4,67,10,5700000
4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Mitino,1.258354e+07,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,4,1.489049,0.984537,11.565624,0.963802,0.179441,0.236455,0.078090,0.106125,0.451173,15.623710,2.017080,14.317640,4.291432,51.497190,4.0,3.816045,5.271136,4,0.131597,1.579164,1.200336,no,2.677824,14.606501,17.457198,18.309433,19.487005,2.677824,1,no,2.780449,17,1.999265,no,17.478380,83,6.734618,1,27.667863,9.522538,6.348716,1.767612,11.178333,0.583025,27.892717,0.811275,0.623484,1.950317,6.483172,7.385521,4.923843,3.549558,8.789894,2.163735,10.903161,0.622272,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,15.300449,16.990677,16.041521,5.029696,0.465820,good,17.36,0.57,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,0,0,0,0,0,0,19.25,10.35,1,11000,6,80780,12,658.33,1083.33,870.83,0,3,4,5,0,0,0,0,0,0,0,3,1,28.38,6.57,2,11000,7,89492,23,673.91,1130.43,902.17,0,5,9,8,1,0,0,1,0,0,0,9,2,32.29,5.73,2,11000,7,89492,25,660.00,1120.00,890.00,0,5,11,8,1,0,0,1,1,0,0,13,2,20.79,3.57,4,167000,12,205756,32,718.75,1218.75,968.75,0,5,14,10,3,0,0,1,2,0,0,18,3,14.18,3.89,8,244166,22,942180,61,931.58,1552.63,1242.11,4,7,21,15,11,2,1,4,4,0,0,26,3,13100000
5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Basmannoe,8.398461e+06,108171,0.015234,0.037316,5706,3240.0,7,6748,7770.0,9,0,562.0,4,2,25,2,no,0,10,93,no,no,no,yes,yes,no,no,no,28179,13522,14657,13368,7159,6209,68043,34236,33807,26760,8563,18197,5706,2982,2724,6748,3664,3084,15237,8113,7124,5164,2583,2581,11631,6223,5408,746.0,48.0,0.0,0.0,643.0,16.0,35.0,0.0,3.0,1.0,746.0,371.0,114.0,146.0,62.0,53.0,5,1.257186,0.876620,8.266305,0.688859,0.247901,0.376838,0.258289,0.236214,0.392871,10.683540,2.936581,11.903910,0.853960,10.247521,5.0,1.595898,2.156284,113,0.071480,0.857764,0.820294,no,11.616653,1.721834,0.046810,0.787593,2.578671,1.721834,4,no,3.133531,10,0.084113,yes,1.595898,113,1.423428,4,6.515857,8.671016,1.638318,3.632640,4.587917,2.609420,9.155057,1.969738,0.220288,2.544696,3.975401,3.610754,0.307915,1.864637,3.779781,1.121703,0.991683,0.892668,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,2.584370,1.112486,1.800125,1.339652,0.026102,excellent,3.56,4.44,15,293699,1,45000,48,702.22,1166.67,934.44,3,17,10,11,7,0,0,1,4,0,2,3,0,3.34,8.29,46,420952,3,158200,153,763.45,1272.41,1017.93,8,39,45,39,19,2,1,7,12,0,6,7,0,4.12,4.83,93,1195735,9,445900,272,766.80,1272.73,1019.76,19,70,74,72,30,6,1,18,30,0,10,14,2,4.53,5.02,149,1625130,17,564843,483,765.93,1269.23,1017.58,28,130,129,131,50,14,1,35,61,0,17,21,3,5.06,8.62,305,3420907,60,2296870,1068,853.03,1410.45,1131.74,63,266,267,262,149,57,4,70,121,1,40,77,5,8.38,10.92,689,8404624,114,3503058,2283,853.88,1411.45,1132.66,143,566,578,552,319,108,17,135,236,2,91,195,14,16331452

Test data

In [3]:
test_df = pd.read_csv('./data/test.csv', index_col='id')
test_df.head()

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,3.0,Investment,Juzhnoe Butovo,2.615514e+07,178264,0.137846,0.041116,14080,11926.0,11,14892,24750.0,13,1,NaN,1,0,13,4,no,0,4,4,no,no,no,no,no,no,no,no,102618,47681,54937,30808,16251,14557,121369,59138,62231,26087,7410,18677,14080,7457,6623,14892,7839,7053,34341,18094,16247,19906,9676,10230,27123,14340,12783,1681.0,173.0,607.0,19.0,245.0,116.0,431.0,1.0,84.0,5.0,1680.0,34.0,299.0,439.0,109.0,799.0,45,1.258957,0.735908,8.830901,0.735908,0.078502,0.746962,2.048487,0.061485,1.205404,0.967696,0.781053,10.56540,4.812102,57.745220,39.0,4.850748,6.274963,39,0.114134,1.369603,0.248151,no,6.374826,19.651101,22.790985,24.079707,24.779082,4.152246,2,no,5.706484,38,0.490549,no,27.553486,32,8.424959,9,22.624362,16.224083,6.620081,4.121874,8.957780,8.824060,15.483912,5.353674,0.225788,3.673942,11.810839,20.392427,9.131977,3.300120,25.462741,1.613152,17.214870,7.922610,2.414138,4.923614,0.514211,0.746962,0.749142,0.848297,1.917736,19.953413,14.052207,12.228576,0.446324,satisfactory,42.22,0.00,0,0,0,0,1,1000.0,1500.0,1250.0,0,0,0,1,0,0,0,0,0,0,0,1,0,32.48,0.00,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,1,1,0,0,3,0,20.14,0.70,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,1,2,0,0,4,0,15.17,1.18,0,0,0,0,3,1000.00,1500.00,1250.00,0,0,0,3,0,0,0,1,2,1,0,5,0,14.69,2.87,0,0,3,73000,12,781.82,1227.27,1004.55,1,2,2,7,0,0,0,1,3,1,0,7,0,21.58,4.69,1,37550,8,299166,19,676.47,1088.24,882.35,2,5,4,8,0,0,0,1,10,1,0,14,1
30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe,2.553630e+07,4001,0.496315,0.007122,275,NaN,0,264,NaN,0,0,NaN,0,0,0,0,no,0,1,0,no,no,no,no,no,no,no,no,17790,8350,9443,574,297,277,2566,1356,1211,861,244,617,275,143,133,264,136,128,646,336,311,3796,2035,1762,506,261,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,4.230425,3.444625,41.335498,3.444625,1.192193,1.332570,4.400427,0.000000,0.742377,16.049420,2.244906,18.50054,5.458057,65.496687,24.0,5.458057,6.859956,24,0.826083,9.912993,0.799853,no,6.847813,16.975793,19.692960,20.864427,21.722620,2.148398,13,no,4.410488,27,2.342346,no,27.421853,50,16.913175,8,29.425443,17.080113,8.545593,4.932827,10.039833,3.654955,15.092542,8.156185,1.313180,4.244082,4.438242,13.445121,8.332180,7.095895,26.807204,3.775300,12.440198,9.672779,1.764298,3.764819,1.694967,1.332570,1.672126,1.162371,12.239901,13.006107,9.661063,4.323941,0.705873,no data,86.33,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,67.43,3.77,0,0,0,0,2,1000.00,1750.00,1375.00,0,0,1,0,1,0,0,0,0,0,0,0,0,59.28,5.31,0,0,0,0,3,833.33,1500.00,1166.67,0,0,2,0,1,0,0,0,1,0,0,1,0,49.26,4.06,0,0,1,5000,7,757.14,1285.71,1021.43,0,1,3,2,1,0,0,1,2,0,0,1,0,39.50,3.32,0,0,2,22000,10,680.00,1200.00,940.00,0,1,6,2,1,0,0,1,5,0,0,7,0,39.10,7.70,2,177300,6,231300,20,733.33,1250.00,991.67,2,4,8,4,1,1,0,2,11,0,1,12,1
30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,2.0,Investment,Perovo,9.946335e+06,139322,0.065409,0.225825,6400,2232.0,7,6558,7966.0,7,0,1548.0,3,0,13,0,no,0,2,7,yes,no,yes,yes,no,no,no,no,36154,16222,19932,13799,6937,6862,91795,44734,47061,33728,9653,24075,6400,3209,3191,6558,3317,3241,15514,7813,7701,8137,3787,4350,12162,6117,6045,561.0,111.0,0.0,0.0,254.0,3.0,189.0,0.0,4.0,0.0,561.0,0.0,5.0,437.0,79.0,40.0,44,1.585306,1.122214,13.466563,1.122214,0.065324,0.194608,2.513006,0.580638,0.900408,11.749900,3.389848,10.19563,3.628293,43.539514,68.0,3.977659,5.375048,59,0.116686,1.400229,1.384824,no,3.499380,5.627481,8.090528,8.671086,10.320728,0.580638,10,no,3.499380,1,2.220941,no,10.093318,5,7.921607,3,1.823381,14.431252,0.826743,2.388288,3.760642,3.290966,16.304596,0.644830,0.966254,1.332737,3.131143,1.464174,1.499581,0.487817,6.718082,0.711768,4.862872,3.506298,1.456661,1.223804,2.330995,0.194608,1.400094,1.177527,9.938735,2.983875,1.988346,0.794245,0.320864,poor,0.00,0.00,0,0,0,0,3,400.0,750.0,575.0,1,1,1,0,0,0,0,0,0,0,0,0,1,13.07,0.80,0,0,0,0,8,485.71,857.14,671.43,1,3,3,1,0,0,0,0,0,0,1,6,2,30.97,8.75,2,34100,1,0,19,655.56,1111.11,883.33,1,6,6,4,2,0,0,1,1,0,1,12,3,40.90,10.51,6,80237,3,14090,28,633.33,1092.59,862.96,1,7,12,6,2,0,0,2,2,0,4,14,4,45.86,9.08,8,215237,6,39106,37,608.33,1069.44,838.89,1,8,19,7,2,0,0,2,3,0,5,22,4,25.62,13.59,27,427889,26,1024431,179,668.97,1132.18,900.57,5,53,64,42,11,4,0,10,21,0,10,71,11
30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,3.0,OwnerOccupier,Poselenie Voskresenskoe,2.149409e+07,7122,0.262459,0.017647,489,NaN,0,469,NaN,0,0,NaN,0,0,0,2,no,0,0,0,no,no,no,no,no,no,no,no,9553,4529,5024,1021,529,493,4568,2414,2155,1533,435,1099,489,254,236,469,242,228,1150,597,553,2155,1206,950,900,465,435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,7.931398,6.038848,68.559794,5.713316,3.189083,3.540105,5.612835,0.025446,0.466738,5.061917,2.701804,14.62944,10.284167,123.410001,39.0,10.609698,13.517419,39,3.093209,37.118504,0.233017,no,8.928836,22.094252,25.062928,26.226045,26.960463,2.722667,38,no,8.601110,2,4.476081,no,37.436772,50,13.979650,8,26.895118,19.942295,9.434351,6.218331,13.345715,10.480798,10.723870,11.112624,4.480234,8.577223,15.200509,18.560234,12.253021,6.831966,30.366022,5.731266,15.382678,11.306566,6.589381,8.102094,0.403429,3.540105,5.411312,0.213853,6.153091,18.121220,16.938290,14.171229,0.454087,no data,22.01,0.15,0,0,0,0,1,300.0,500.0,400.0,0,1,0,0,0,0,0,0,1,0,0,0,0,27.94,7.90,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,2,0,0,0,0,28.82,3.59,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,3,0,0,0,0,31.35,2.99,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,3,0,0,0,0,34.87,1.34,0,0,0,0,1,300.00,500.00,400.00,0,1,0,0,0,0,0,0,4,0,0,0,0,24.25,1.66,0,0,0,0,5,1560.00,2500.00,2030.00,0,1,0,1,1,2,0,0,10,0,0,2,0
30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,1.0,OwnerOccupier,Poselenie Vnukovskoe,2.553630e+07,4001,0.496315,0.007122,275,NaN,0,264,NaN,0,0,NaN,0,0,0,0,no,0,1,0,no,no,no,no,no,no,no,no,17790,8350,9443,574,297,277,2566,1356,1211,861,244,617,275,143,133,264,136,128,646,336,311,3796,2035,1762,506,261,245,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21,2.152792,1.722233,20.666800,1.722233,0.897889,1.234235,4.566595,0.427248,0.353642,16.784630,2.250137,19.14919,3.735666,44.827989,24.0,3.735666,4.782323,24,0.630014,7.560163,0.394422,no,7.123215,17.148737,19.868997,21.038561,21.905792,2.808077,13,no,3.688405,27,1.727223,no,25.699461,50,17.366661,8,29.968660,17.397666,9.036942,5.506770,10.102328,3.729416,15.546028,6.433794,1.519553,2.521691,2.715850,13.898607,8.355285,7.401423,25.084813,2.052908,12.893684,9.479093,1.806570,4.338453,1.339078,1.234235,1.192543,1.186621,12.652956,13.459593,9.890758,4.555385,0.066503,no data,3.33,3.70,0,0,0,0,2,1000.0,1750.0,1375.0,0,0,1,0,1,0,0,0,0,0,0,0,0,36.66,2.92,0,0,0,0,2,1000.00,1750.00,1375.00,0,0,1,0,1,0,0,0,0,0,0,0,0,43.85,1.55,0,0,0,0,3,833.33,1500.00,1166.67,0,0,2,0,1,0,0,1,1,0,0,0,0,38.61,3.12,0,0,2,22000,7,757.14,1285.71,1021.43,0,1,3,2,1,0,0,1,2,0,0,3,0,41.64,2.11,0,0,2,22000,9,700.00,1222.22,961.11,0,1,5,2,1,0,0,1,4,0,0,6,0,35.62,6.96,1,117300,4,201300,20,747.37,1263.16,1005.26,1,4,8,5,1,1,0,2,12,0,1,11,1

## Data cleansing

### Check mistakes and NaNs

- floor <= max_floor
- life_sq <= full_sq
- kitch_sq <= full_sq

Let's firstly check it on train data

In [4]:
# floor <= max_floor
wrong_max_floor = train_df['floor'] > train_df['max_floor']
display(train_df[wrong_max_floor][['floor', 'max_floor']])
# lets fix it
for index, row in train_df.iterrows():    
    if row['floor'] > row['max_floor']:
        train_df.loc[index, 'max_floor'] = row['floor']
display(train_df[wrong_max_floor][['floor', 'max_floor']])

       floor  max_floor
id
8219    13.0        0.0
8271     3.0        1.0
8502     2.0        0.0
8534     7.0        0.0
8915     5.0        0.0
...      ...        ...
30401    5.0        1.0
30403    3.0        0.0
30429    1.0        0.0
30442   12.0        0.0
30453    5.0        0.0

[1493 rows x 2 columns]

       floor  max_floor
id
8219    13.0       13.0
8271     3.0        3.0
8502     2.0        2.0
8534     7.0        7.0
8915     5.0        5.0
...      ...        ...
30401    5.0        5.0
30403    3.0        3.0
30429    1.0        1.0
30442   12.0       12.0
30453    5.0        5.0

[1493 rows x 2 columns]

In [82]:
nan_max_floor = train_df['max_floor'].isna()
display(train_df[nan_max_floor][['floor', 'max_floor']])
# lets fix it
for index, row in train_df.iterrows():    
    if np.isnan(row['max_floor']):
        train_df.loc[index, 'max_floor'] = row['floor']
display(train_df[nan_max_floor][['floor', 'max_floor']])

       floor  max_floor
id
1        4.0        NaN
2        3.0        NaN
3        2.0        NaN
4        9.0        NaN
5        4.0        NaN
...      ...        ...
10293    2.0        NaN
10307    4.0        NaN
10331   14.0        NaN
10392   15.0        NaN
10423    2.0        NaN

[9572 rows x 2 columns]

       floor  max_floor
id
1        4.0        4.0
2        3.0        3.0
3        2.0        2.0
4        9.0        9.0
5        4.0        4.0
...      ...        ...
10293    2.0        2.0
10307    4.0        4.0
10331   14.0       14.0
10392   15.0       15.0
10423    2.0        2.0

[9572 rows x 2 columns]

In [5]:
# life_sq <= full_sq
wrong_full_sq = train_df['life_sq'] > train_df['full_sq']
display(train_df[wrong_full_sq][['life_sq', 'full_sq']])

# lets fix it
for index, row in train_df.iterrows():    
    if row['life_sq'] > row['full_sq']:
        train_df.loc[index, 'full_sq'] = row['life_sq']
display(train_df[wrong_full_sq][['life_sq', 'full_sq']])

       life_sq  full_sq
id
1085     281.0       44
1189      44.0        9
1825      38.0       18
1866     178.0       30
2012      40.0        5
4388     426.0       73
6339     191.0       37
6534      88.0       80
6996      77.0       73
7211     195.0       31
8104      38.0       37
9240     301.0       47
9259     458.0       77
9485      53.0       52
9649     802.0       82
11335     40.0        1
11714     58.0       56
11787     59.0       46
12572     60.0       56
13549   7478.0       79
13632    259.0       45
13800    163.0       32
14802     77.0       73
16070     52.0       50
16119     85.0       84
16287     62.0       33
20675     45.0       44
21083    349.0       52
22415     47.0        1
22614     38.0       37
22807     55.0       54
24299     77.0        0
24431     78.0       74
26267     60.0        1
26345    435.0       75
26366     64.0        1
29305     57.0       56

       life_sq  full_sq
id
1085     281.0      281
1189      44.0       44
1825      38.0       38
1866     178.0      178
2012      40.0       40
4388     426.0      426
6339     191.0      191
6534      88.0       88
6996      77.0       77
7211     195.0      195
8104      38.0       38
9240     301.0      301
9259     458.0      458
9485      53.0       53
9649     802.0      802
11335     40.0       40
11714     58.0       58
11787     59.0       59
12572     60.0       60
13549   7478.0     7478
13632    259.0      259
13800    163.0      163
14802     77.0       77
16070     52.0       52
16119     85.0       85
16287     62.0       62
20675     45.0       45
21083    349.0      349
22415     47.0       47
22614     38.0       38
22807     55.0       55
24299     77.0       77
24431     78.0       78
26267     60.0       60
26345    435.0      435
26366     64.0       64
29305     57.0       57

While checking kitch_sq I've found that kitch_sq has values of build year

In [6]:
train_df[train_df['build_year'] > 1400]['build_year'].min()

1691.0

In [7]:
train_df[train_df['build_year'] > 2020]['build_year']

id
10092    20052009.0
15223        4965.0
Name: build_year, dtype: float64

In [8]:
train_df.loc[15223, 'build_year'] = 2007 
train_df.loc[10092, 'build_year'] = 2007

Minimum appropriate build_year is 1691

In [9]:
display(train_df[train_df['kitch_sq'] > 1691][['kitch_sq', 'build_year']])

# let's replace NaN
train_df.loc[13120, 'build_year'] = 1970
display(train_df[train_df['kitch_sq'] > 1691][['kitch_sq', 'build_year']])

       kitch_sq  build_year
id
10371    2013.0      2013.0
13120    1970.0         NaN
21418    2014.0      2014.0
28737    1974.0      1972.0

       kitch_sq  build_year
id
10371    2013.0      2013.0
13120    1970.0      1970.0
21418    2014.0      2014.0
28737    1974.0      1972.0

In [10]:
# kitch_sq <= full_sq
wrong_kitch_sq = train_df['kitch_sq'] > train_df['full_sq']
display(train_df[wrong_kitch_sq][['kitch_sq', 'full_sq', 'life_sq']])

# lets fix it
for index, row in train_df.iterrows():    
    if row['kitch_sq'] > row['full_sq']:
        train_df.loc[index, 'kitch_sq'] = row['full_sq'] - row['life_sq']
display(train_df[wrong_kitch_sq][['kitch_sq', 'full_sq', 'life_sq']])

       kitch_sq  full_sq  life_sq
id
8059       12.0       11     11.0
9175       73.0       37     19.0
10371    2013.0       79     41.0
11523     620.0       38     23.0
12248      33.0       22     14.0
13120    1970.0       31     19.0
21418    2014.0       43     43.0
23219      44.0       43     29.0
26239      84.0       34     16.0
26853      86.0       38     20.0
28737    1974.0       31     16.0
29000      97.0       50     30.0

       kitch_sq  full_sq  life_sq
id
8059        0.0       11     11.0
9175       18.0       37     19.0
10371      38.0       79     41.0
11523      15.0       38     23.0
12248       8.0       22     14.0
13120      12.0       31     19.0
21418       0.0       43     43.0
23219      14.0       43     29.0
26239      18.0       34     16.0
26853      18.0       38     20.0
28737      15.0       31     16.0
29000      20.0       50     30.0

In [11]:
# kitch_sq <= full_sq
nan_kitch_sq = train_df['kitch_sq'].isna()
display(train_df[nan_kitch_sq])

# lets fix it
for index, row in train_df.iterrows():
    if np.isnan(row['full_sq']):
        continue
    if np.isnan(row['kitch_sq']):
        if np.isnan(row['life_sq']):
            train_df.loc[index, 'life_sq'] = row['full_sq'] * 0.8
            train_df.loc[index, 'kitch_sq'] = row['full_sq'] * 0.2
        else:
            train_df.loc[index, 'kitch_sq'] = row['full_sq'] - row['life_sq']
display(train_df[nan_kitch_sq])

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Bibirevo,6.407578e+06,155572,0.189727,0.000070,9576,5001.0,5,10309,11065.0,5,0,240.0,1,0,7,3,no,0,16,1,no,no,no,no,no,no,no,no,86206,40477,45729,21154,11007,10147,98207,52277,45930,36211,10580,25631,9576,4899,4677,10309,5463,4846,23603,12286,11317,17508,9425,8083,18654,9709,8945,211.0,25.0,0.0,0.0,0.0,2.0,184.0,0.0,0.0,0.0,211.0,0.0,0.0,0.0,206.0,5.0,1,2.590241,1.131260,13.575119,1.131260,0.145700,0.177975,2.158587,0.600973,1.080934,23.683460,1.804127,3.633334,5.419893,65.038716,1.0,5.419893,6.905893,1,0.274985,3.299822,0.992631,no,1.422391,10.918587,13.100618,13.675657,15.156211,1.422391,1,no,3.830951,5,1.305159,no,14.231961,101,24.292406,1,18.152338,5.718519,1.210027,1.062513,5.814135,4.308127,10.814172,1.676258,0.485841,3.065047,1.107594,8.148591,3.516513,2.392353,4.248036,0.974743,6.715026,0.884350,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,3.932040,14.053047,7.389498,7.023705,0.516838,good,0.00,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,7.36,0.00,1,30500,3,55600,19,527.78,888.89,708.33,1,10,4,3,1,0,0,1,2,0,0,6,1,14.27,6.92,3,39554,9,171420,34,566.67,969.70,768.18,1,14,11,6,2,0,0,1,2,0,0,7,1,11.77,15.97,9,188854,19,1244891,36,614.29,1042.86,828.57,1,15,11,6,2,1,0,1,2,0,0,10,1,11.98,13.55,12,251554,23,1419204,68,639.68,1079.37,859.52,5,21,22,16,3,1,0,2,4,0,0,21,1,13.09,13.31,29,807385,52,4036616,152,708.57,1185.71,947.14,12,39,48,40,9,4,0,13,22,1,0,52,4,5850000
2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,0.049637,6880,3119.0,5,7759,6237.0,8,0,229.0,1,0,6,1,yes,1,3,0,no,no,no,no,no,no,no,no,76284,34200,42084,15727,7925,7802,70194,35622,34572,29431,9266,20165,6880,3466,3414,7759,3909,3850,17700,8998,8702,15164,7571,7593,13729,6929,6800,245.0,83.0,1.0,0.0,67.0,4.0,90.0,0.0,0.0,0.0,244.0,1.0,1.0,143.0,84.0,15.0,2,0.936700,0.647337,7.620630,0.635053,0.147754,0.273345,0.550690,0.065321,0.966479,1.317476,4.655004,8.648587,3.411993,40.943917,2.0,3.641773,4.679745,2,0.065263,0.783160,0.698081,no,9.503405,3.103996,6.444333,8.132640,8.698054,2.887377,2,no,3.103996,4,0.694536,no,9.242586,32,5.706113,2,9.034642,3.489954,2.724295,1.246149,3.419574,0.725560,6.910568,3.424716,0.668364,2.000154,8.972823,6.127073,1.161579,2.543747,12.649879,1.477723,1.852560,0.686252,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,4.841544,6.829889,0.709260,2.358840,0.230287,excellent,25.14,0.00,0,0,0,0,5,860.00,1500.00,1180.00,0,1,3,0,0,1,0,0,1,0,0,0,0,26.66,0.07,2,86600,5,94065,13,615.38,1076.92,846.15,0,5,6,1,0,1,0,1,2,0,4,2,0,21.53,7.71,3,102910,7,127065,17,694.12,1205.88,950.00,0,6,7,1,2,1,0,1,5,0,4,9,0,22.37,19.25,4,165510,8,179065,21,695.24,1190.48,942.86,0,7,8,3,2,1,0,1,5,0,4,11,0,18.07,27.32,12,821986,14,491565,30,631.03,1086.21,858.62,1,11,11,4,2,1,0,1,7,0,6,19,1,10.26,27.47,66,2690465,40,2034942,177,673.81,1148.81,911.31,9,49,65,36,15,3,0,15,29,1,10,66,14,6000000
3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,0.118537,5879,1463.0,4,6207,5580.0,7,0,1183.0,1,0,5,1,no,0,0,1,no,no,no,yes,no,no,no,no,101982,46076,55906,13028,6835,6193,63388,31813,31575,25292,7609,17683,5879,3095,2784,6207,3269,2938,14884,7821,7063,19401,9045,10356,11252,5916,5336,330.0,59.0,0.0,0.0,206.0,4.0,60.0,0.0,1.0,0.0,330.0,1.0,0.0,246.0,63.0,20.0,3,2.120999,1.637996,17.351515,1.445960,0.049102,0.158072,0.374848,0.453172,0.939275,4.912660,3.381083,11.996480,1.277658,15.331896,3.0,1.277658,1.701420,3,0.328756,3.945073,0.468265,no,5.604800,2.927487,6.963403,8.054252,9.067885,0.647250,3,no,2.927487,4,0.700691,no,9.540544,5,6.710302,3,5.777394,7.506612,0.772216,1.602183,3.682455,3.562188,5.752368,1.375443,0.733101,1.239304,1.978517,0.767569,1.952771,0.621357,7.682303,0.097144,0.841254,1.510089,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,7.922152,4.273200,3.156423,4.958214,0.190462,poor,1.67,0.00,0,0,0,0,3,666.67,1166.67,916.67,0,0,2,1,0,0,0,0,0,0,0,0,0,4.99,0.29,0,0,0,0,9,642.86,1142.86,892.86,2,0,5,2,0,0,0,0,1,0,0,5,3,9.92,6.73,0,0,1,2600,14,516.67,916.67,716.67,2,4,6,2,0,0,0,0,4,0,0,6,5,12.99,12.75,4,100200,7,52550,24,563.64,977.27,770.45,2,8,9,4,1,0,0,0,4,0,0,8,5,12.14,26.46,8,110856,7,52550,41,697.44,1192.31,944.87,2,9,17,9,3,1,0,0,11,0,0,20,6,13.69,21.58,43,1478160,35,1572990,122,702.68,1196.43,949.55,10,29,45,25,10,3,0,11,27,0,4,67,10,5700000
4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Mitino,1.258354e+07,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,4,1.489049,0.984537,11.565624,0.963802,0.179441,0.236455,0.078090,0.106125,0.451173,15.623710,2.017080,14.317640,4.291432,51.497190,4.0,3.816045,5.271136,4,0.131597,1.579164,1.200336,no,2.677824,14.606501,17.457198,18.309433,19.487005,2.677824,1,no,2.780449,17,1.999265,no,17.478380,83,6.734618,1,27.667863,9.522538,6.348716,1.767612,11.178333,0.583025,27.892717,0.811275,0.623484,1.950317,6.483172,7.385521,4.923843,3.549558,8.789894,2.163735,10.903161,0.622272,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,15.300449,16.990677,16.041521,5.029696,0.465820,good,17.36,0.57,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,0,0,0,0,0,0,19.25,10.35,1,11000,6,80780,12,658.33,1083.33,870.83,0,3,4,5,0,0,0,0,0,0,0,3,1,28.38,6.57,2,11000,7,89492,23,673.91,1130.43,902.17,0,5,9,8,1,0,0,1,0,0,0,9,2,32.29,5.73,2,11000,7,89492,25,660.00,1120.00,890.00,0,5,11,8,1,0,0,1,1,0,0,13,2,20.79,3.57,4,167000,12,205756,32,718.75,1218.75,968.75,0,5,14,10,3,0,0,1,2,0,0,18,3,14.18,3.89,8,244166,22,942180,61,931.58,1552.63,1242.11,4,7,21,15,11,2,1,4,4,0,0,26,3,13100000
5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Investment,Basmannoe,8.398461e+06,108171,0.015234,0.037316,5706,3240.0,7,6748,7770.0,9,0,562.0,4,2,25,2,no,0,10,93,no,no,no,yes,yes,no,no,no,28179,13522,14657,13368,7159,6209,68043,34236,33807,26760,8563,18197,5706,2982,2724,6748,3664,3084,15237,8113,7124,5164,2583,2581,11631,6223,5408,746.0,48.0,0.0,0.0,643.0,16.0,35.0,0.0,3.0,1.0,746.0,371.0,114.0,146.0,62.0,53.0,5,1.257186,0.876620,8.266305,0.688859,0.247901,0.376838,0.258289,0.236214,0.392871,10.683540,2.936581,11.903910,0.853960,10.247521,5.0,1.595898,2.156284,113,0.071480,0.857764,0.820294,no,11.616653,1.721834,0.046810,0.787593,2.578671,1.721834,4,no,3.133531,10,0.084113,yes,1.595898,113,1.423428,4,6.515857,8.671016,1.638318,3.632640,4.587917,2.609420,9.155057,1.969738,0.220288,2.544696,3.975401,3.610754,0.307915,1.864637,3.779781,1.121703,0.991683,0.892668,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,2.584370,1.112486,1.800125,1.339652,0.026102,excellent,3.56,4.44,15,293699,1,45000,48,702.22,1166.67,934.44,3,17,10,11,7,0,0,1,4,0,2,3,0,3.34,8.29,46,420952,3,158200,153,763.45,1272.41,1017.93,8,39,45,39,19,2,1,7,12,0,6,7,0,4.12,4.83,93,1195735,9,445900,272,766.80,1272.73,1019.76,19,70,74,72,30,6,1,18,30,0,10,14,2,4.53,5.02,149,1625130,17,564843,483,765.93,1269.23,1017.58,28,130,129,131,50,14,1,35,61,0,17,21,3,5.06,8.62,305,3420907,60,2296870,1068,853.03,1410.45,1131.74,63,266,267,262,149,57,4,70,121,1,40,77,5,8.38,10.92,689,8404624,114,3503058,2283,853.88,1411.45,1132.66,143,566,578,552,319,108,17,135,236,2,91,195,14,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10293,2013-09-05,47,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Troickij okrug,1.631523e+07,39873,0.375974,0.075424,2870,NaN,0,3097,NaN,0,0,NaN,0,0,3,2,no,0,0,0,no,no,no,no,no,no,no,no,143661,65525,78136,6363,3275,3088,24009,12128,11881,9501,2903,6598,2870,1442,1428,3097,1618,1479,7060,3655,3405,31367,15559,15808,5569,2857,2712,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,45,26.851162,21.700477,259.736895,21.644741,0.179595,14.780638,15.801314,0.021850,0.156078,15.682710,2.379335,26.025390,21.105790,253.269480,108.0,21.044517,27.094411,108,0.086188,1.034255,1.091549,no,19.812419,32.409979,35.243969,36.372722,37.123240,0.620291,38,no,8.419382,46,15.274861,no,39.177263,32,24.148131,8,38.276209,31.278051,20.658986,17.165993,24.665657,20.915365,20.892351,1.126588,0.856807,24.831987,24.887386,28.728715,23.482363,10.373770,46.097311,21.459988,25.551158,21.665473,14.215808,14.442127,0.722316,14.780638,16.500661,0.354740,17.453648,28.289701,25.775431,21.365727,0.270372,no data,32.11,11.38,0,0,0,0,1,1000.00,1500.00,1250.00,0,0,0,1,0,0,0,0,2,0,0,0,0,46.27,10.78,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,2,0,0,1,1,53.19,9.09,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,2,0,0,2,2,56.02,7.77,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,2,0,0,2,2,53.15,4.94,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,3,0,0,3,2,45.06,3.40,0,0,0,0,6,1416.67,2333.33,1875.00,0,0,1,1,3,1,0,0,8,0,0,3,2,4462240
10307,2013-09-05,65,60.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Poselenie Voskresenskoe,2.149409e+07,7122,0.262459,0.017647,489,NaN,0,469,NaN,0,0,NaN,0,0,0,2,no,0,0,0,no,no,no,no,no,no,no,no,9553,4529,5024,1021,529,493,4568,2414,2155,1533,435,1099,489,254,236,469,242,228,1150,597,553,2155,1206,950,900,465,435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,5.595301,2.254916,27.058996,2.254916,0.647239,0.826052,1.799915,0.314382,1.006133,0.970986,1.630750,11.435910,5.784237,69.410846,39.0,5.784237,9.879409,39,0.327357,3.928286,0.138168,yes,7.229763,20.483476,23.613614,24.893130,25.595974,4.540854,2,no,5.585990,38,1.128409,no,29.072494,32,9.943967,9,23.463447,17.103736,7.436487,4.798950,9.793209,9.530140,14.703756,6.287163,0.680017,5.192950,13.329847,21.911435,9.989170,4.096246,26.981749,3.262483,18.733878,8.802153,3.231528,5.072389,1.210613,0.826052,1.582378,0.756119,2.797455,21.472421,14.917332,13.029959,1.314915,no data,9.88,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,13.93,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,1,0,13.83,1.42,0,0,0,0,1,1000.00,1500.00,1250.00,0,0,0,1,0,0,0,0,1,0,0,1,0,12.39,1.55,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,1,2,0,0,3,0,10.54,2.14,0,0,0,0,3,1000.00,1500.00,1250.00,0,0,0,3,0,0,0,1,3,1,0,5,0,17.92,4.75,0,0,5,262000,18,700.00,1125.00,912.50,2,4,4,8,0,0,0,1,7,1,0,12,1,5615010
10331,2013-09-06,37,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Severnoe Tushino,9.249237e+06,156377,0.374068,0.000000,10190,4116.0,5,11319,9891.0,5,0,1145.0,3,0,1,2,no,0,5,0,no,no,no,no,no,no,no,no,53786,24231,29555,22961,12039,10922,93843,47269,46574,39573,12538,27035,10190,5334,4856,11319,5929,5390,26095,13597,12498,11372,5629,5743,20140,10531,9609,318.0,50.0,7.0,1.0,16.0,9.0,235.0,0.0,0.0,0.0,318.0,0.0,2.0,165.0,93.0,58.0,22,2.106990,0.962075,11.544904,0.962075,0.627262,0.313182,0.605801,0.250369,0.993856,17.934920,3.455140,8.085736,4.749161,56.989927,4.0,4.860584,7.131596,4,0.255839,3.070063,0.542258,no,2.697194,10.605813,13.300150,14.050448,15.340756,1.365305,14,no,2.697194,1,1.366583,no,14.504530,83,6.748425,1,22.603760,5.404111,2.359338,1.395925,5.514439,0.937195,21.286410,2.277115,0.488728,2.600833,8.066383,4.181652,0.511543,1.834742,10.764598,2.077434,7.929311,1.256931,0.509848,0.488728,1.086152,0.313182,1.403418,2.490851,9.099035,14.016827,10.999641,1.306670,0.256093,satisfactory,18.99,0.00,1,9881,0,0,2,500.00,1000.00,750.00,1,0,1,0,0,0,0,0,0,0,0,1,0,13.41,0.03,1,9881,3,124078,10,566.67,1000.00,783.33,1,2,5,2,0,0,0,0,0,0,0,3,0,15.12,5.94,2,9881,4,174458,19,583.33,1027.78,805.56,1,5,9,3,1,0,0,1,0,0,1,5,1,16.54,7.85,2,9881,8,226898,30,607.41,1055.56,831.48,3,8,12,5,2,0,0,3,0,0,1,10,1,22.07,9.27,6,61771,15,372598,67,645.00,1100.00,872.50,7,19,23,13,4,1,0,7,4,0,1,16,1,19.58,10.64,34,1147471,40,1193552,162,713.61,1197.28,955.44,15,43,48,38,15,3,0,11,12,0,1,54,5,6060000
10392,2013-09-10,38,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,OwnerOccupier,Nekrasovka,1.139168e+07,19940,0.055644,0.243205,1706,2395.0,5,1564,7377.0,5,0,540.0,0,0,0,4,no,0,0,0,no,yes,no,no,no,no,no,no,247469,112902,134567,3459,1782,1677,13331,6670,6661,3150,948,2202,1706,862,844,1564,821,743,3831,1973,1858,55710,27242,28468,3112,1600,1512,43.0,3.0,0.0,0.0,10.0,2.0,28.0,0.0,0.0,0.0,41.0,0.0,1.0,7.0,10.0,23.0,108,0.913144,0.369301,4.431607,0.369301,1.553718,0.480208,3.008939,1.678090,0.754633,1.530345,3.643177,1.235872,3.863017,46.356201,75.0,3.458366,5.268030,75,0.159567,1.914802,0.741579,no,5.686275,13.645008,17.648389,18.407120,19.763938,3.262172,11,no,4.299129,7,2.832923,no,25.256469,5,7.092672,14,9.425426,16.853464,3.436254,5.815850,10.304551,4.441775,10.103147,4.001085,2.913977,7.361991,7.361991,13.430703,6.364524,1.059289,12.078101,3.983903,8.900627,5.081010,2.160933,5.273047,1.818087,0.480208,3.473849,0.922894,9.895090,8.612007,7.215515,6.759573,2.083159,good,0.00,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,3.41,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,0,0.00,9.37,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,0,0.84,14.02,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,0,4.71,14.44,0,0,2,41100,3,833.33,1333.33,1083.33,0,0,1,2,0,0,0,0,2,0,0,1,1,13.50,7.69,0,0,3,43437,14,771.43,1285.71,1028.57,0,1,6,6,1,0,0,4,6,0,0,4,1,4074000

,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,product_type,sub_area,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25,culture_objects_top_25_raion,shopping_centers_raion,office_raion,thermal_power_plant_raion,incineration_raion,oil_chemistry_raion,radiation_raion,railroad_terminal_raion,big_market_raion,nuclear_reactor_raion,detention_facility_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,water_1line,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road1_1line,big_road2_km,ID_big_road2,railroad_km,railroad_1line,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,ecology,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,16.0,NaN,Investment,Bibirevo,6.407578e+06,155572,0.189727,0.000070,9576,5001.0,5,10309,11065.0,5,0,240.0,1,0,7,3,no,0,16,1,no,no,no,no,no,no,no,no,86206,40477,45729,21154,11007,10147,98207,52277,45930,36211,10580,25631,9576,4899,4677,10309,5463,4846,23603,12286,11317,17508,9425,8083,18654,9709,8945,211.0,25.0,0.0,0.0,0.0,2.0,184.0,0.0,0.0,0.0,211.0,0.0,0.0,0.0,206.0,5.0,1,2.590241,1.131260,13.575119,1.131260,0.145700,0.177975,2.158587,0.600973,1.080934,23.683460,1.804127,3.633334,5.419893,65.038716,1.0,5.419893,6.905893,1,0.274985,3.299822,0.992631,no,1.422391,10.918587,13.100618,13.675657,15.156211,1.422391,1,no,3.830951,5,1.305159,no,14.231961,101,24.292406,1,18.152338,5.718519,1.210027,1.062513,5.814135,4.308127,10.814172,1.676258,0.485841,3.065047,1.107594,8.148591,3.516513,2.392353,4.248036,0.974743,6.715026,0.884350,0.648488,0.637189,0.947962,0.177975,0.625783,0.628187,3.932040,14.053047,7.389498,7.023705,0.516838,good,0.00,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,1,0,7.36,0.00,1,30500,3,55600,19,527.78,888.89,708.33,1,10,4,3,1,0,0,1,2,0,0,6,1,14.27,6.92,3,39554,9,171420,34,566.67,969.70,768.18,1,14,11,6,2,0,0,1,2,0,0,7,1,11.77,15.97,9,188854,19,1244891,36,614.29,1042.86,828.57,1,15,11,6,2,1,0,1,2,0,0,10,1,11.98,13.55,12,251554,23,1419204,68,639.68,1079.37,859.52,5,21,22,16,3,1,0,2,4,0,0,21,1,13.09,13.31,29,807385,52,4036616,152,708.57,1185.71,947.14,12,39,48,40,9,4,0,13,22,1,0,52,4,5850000
2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,15.0,NaN,Investment,Nagatinskij Zaton,9.589337e+06,115352,0.372602,0.049637,6880,3119.0,5,7759,6237.0,8,0,229.0,1,0,6,1,yes,1,3,0,no,no,no,no,no,no,no,no,76284,34200,42084,15727,7925,7802,70194,35622,34572,29431,9266,20165,6880,3466,3414,7759,3909,3850,17700,8998,8702,15164,7571,7593,13729,6929,6800,245.0,83.0,1.0,0.0,67.0,4.0,90.0,0.0,0.0,0.0,244.0,1.0,1.0,143.0,84.0,15.0,2,0.936700,0.647337,7.620630,0.635053,0.147754,0.273345,0.550690,0.065321,0.966479,1.317476,4.655004,8.648587,3.411993,40.943917,2.0,3.641773,4.679745,2,0.065263,0.783160,0.698081,no,9.503405,3.103996,6.444333,8.132640,8.698054,2.887377,2,no,3.103996,4,0.694536,no,9.242586,32,5.706113,2,9.034642,3.489954,2.724295,1.246149,3.419574,0.725560,6.910568,3.424716,0.668364,2.000154,8.972823,6.127073,1.161579,2.543747,12.649879,1.477723,1.852560,0.686252,0.519311,0.688796,1.072315,0.273345,0.967821,0.471447,4.841544,6.829889,0.709260,2.358840,0.230287,excellent,25.14,0.00,0,0,0,0,5,860.00,1500.00,1180.00,0,1,3,0,0,1,0,0,1,0,0,0,0,26.66,0.07,2,86600,5,94065,13,615.38,1076.92,846.15,0,5,6,1,0,1,0,1,2,0,4,2,0,21.53,7.71,3,102910,7,127065,17,694.12,1205.88,950.00,0,6,7,1,2,1,0,1,5,0,4,9,0,22.37,19.25,4,165510,8,179065,21,695.24,1190.48,942.86,0,7,8,3,2,1,0,1,5,0,4,11,0,18.07,27.32,12,821986,14,491565,30,631.03,1086.21,858.62,1,11,11,4,2,1,0,1,7,0,6,19,1,10.26,27.47,66,2690465,40,2034942,177,673.81,1148.81,911.31,9,49,65,36,15,3,0,15,29,1,10,66,14,6000000
3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,14.0,NaN,Investment,Tekstil'shhiki,4.808270e+06,101708,0.112560,0.118537,5879,1463.0,4,6207,5580.0,7,0,1183.0,1,0,5,1,no,0,0,1,no,no,no,yes,no,no,no,no,101982,46076,55906,13028,6835,6193,63388,31813,31575,25292,7609,17683,5879,3095,2784,6207,3269,2938,14884,7821,7063,19401,9045,10356,11252,5916,5336,330.0,59.0,0.0,0.0,206.0,4.0,60.0,0.0,1.0,0.0,330.0,1.0,0.0,246.0,63.0,20.0,3,2.120999,1.637996,17.351515,1.445960,0.049102,0.158072,0.374848,0.453172,0.939275,4.912660,3.381083,11.996480,1.277658,15.331896,3.0,1.277658,1.701420,3,0.328756,3.945073,0.468265,no,5.604800,2.927487,6.963403,8.054252,9.067885,0.647250,3,no,2.927487,4,0.700691,no,9.540544,5,6.710302,3,5.777394,7.506612,0.772216,1.602183,3.682455,3.562188,5.752368,1.375443,0.733101,1.239304,1.978517,0.767569,1.952771,0.621357,7.682303,0.097144,0.841254,1.510089,1.486533,1.543049,0.391957,0.158072,3.178751,0.755946,7.922152,4.273200,3.156423,4.958214,0.190462,poor,1.67,0.00,0,0,0,0,3,666.67,1166.67,916.67,0,0,2,1,0,0,0,0,0,0,0,0,0,4.99,0.29,0,0,0,0,9,642.86,1142.86,892.86,2,0,5,2,0,0,0,0,1,0,0,5,3,9.92,6.73,0,0,1,2600,14,516.67,916.67,716.67,2,4,6,2,0,0,0,0,4,0,0,6,5,12.99,12.75,4,100200,7,52550,24,563.64,977.27,770.45,2,8,9,4,1,0,0,0,4,0,0,8,5,12.14,26.46,8,110856,7,52550,41,697.44,1192.31,944.87,2,9,17,9,3,1,0,0,11,0,0,20,6,13.69,21.58,43,1478160,35,1572990,122,702.68,1196.43,949.55,10,29,45,25,10,3,0,11,27,0,4,67,10,5700000
4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,39.0,NaN,Investment,Mitino,1.258354e+07,178473,0.194703,0.069753,13087,6839.0,9,13670,17063.0,10,0,NaN,1,0,17,6,no,0,11,4,no,no,no,no,no,no,no,no,21155,9828,11327,28563,14680,13883,120381,60040,60341,29529,9083,20446,13087,6645,6442,13670,7126,6544,32063,16513,15550,3292,1450,1842,24934,12782,12152,458.0,9.0,51.0,12.0,124.0,50.0,201.0,0.0,9.0,2.0,459.0,13.0,24.0,40.0,130.0,252.0,4,1.489049,0.984537,11.565624,0.963802,0.179441,0.236455,0.078090,0.106125,0.451173,15.623710,2.017080,14.317640,4.291432,51.497190,4.0,3.816045,5.271136,4,0.131597,1.579164,1.200336,no,2.677824,14.606501,17.457198,18.309433,19.487005,2.677824,1,no,2.780449,17,1.999265,no,17.478380,83,6.734618,1,27.667863,9.522538,6.348716,1.767612,11.178333,0.583025,27.892717,0.811275,0.623484,1.950317,6.483172,7.385521,4.923843,3.549558,8.789894,2.163735,10.903161,0.622272,0.599914,0.934273,0.892674,0.236455,1.031777,1.561505,15.300449,16.990677,16.041521,5.029696,0.465820,good,17.36,0.57,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,0,0,0,0,0,0,19.25,10.35,1,11000,6,80780,12,658.33,1083.33,870.83,0,3,4,5,0,0,0,0,0,0,0,3,1,28.38,6.57,2,11000,7,89492,23,673.91,1130.43,902.17,0,5,9,8,1,0,0,1,0,0,0,9,2,32.29,5.73,2,11000,7,89492,25,660.00,1120.00,890.00,0,5,11,8,1,0,0,1,1,0,0,13,2,20.79,3.57,4,167000,12,205756,32,718.75,1218.75,968.75,0,5,14,10,3,0,0,1,2,0,0,18,3,14.18,3.89,8,244166,22,942180,61,931.58,1552.63,1242.11,4,7,21,15,11,2,1,4,4,0,0,26,3,13100000
5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,0.0,NaN,Investment,Basmannoe,8.398461e+06,108171,0.015234,0.037316,5706,3240.0,7,6748,7770.0,9,0,562.0,4,2,25,2,no,0,10,93,no,no,no,yes,yes,no,no,no,28179,13522,14657,13368,7159,6209,68043,34236,33807,26760,8563,18197,5706,2982,2724,6748,3664,3084,15237,8113,7124,5164,2583,2581,11631,6223,5408,746.0,48.0,0.0,0.0,643.0,16.0,35.0,0.0,3.0,1.0,746.0,371.0,114.0,146.0,62.0,53.0,5,1.257186,0.876620,8.266305,0.688859,0.247901,0.376838,0.258289,0.236214,0.392871,10.683540,2.936581,11.903910,0.853960,10.247521,5.0,1.595898,2.156284,113,0.071480,0.857764,0.820294,no,11.616653,1.721834,0.046810,0.787593,2.578671,1.721834,4,no,3.133531,10,0.084113,yes,1.595898,113,1.423428,4,6.515857,8.671016,1.638318,3.632640,4.587917,2.609420,9.155057,1.969738,0.220288,2.544696,3.975401,3.610754,0.307915,1.864637,3.779781,1.121703,0.991683,0.892668,0.429052,0.077901,0.810801,0.376838,0.378756,0.121681,2.584370,1.112486,1.800125,1.339652,0.026102,excellent,3.56,4.44,15,293699,1,45000,48,702.22,1166.67,934.44,3,17,10,11,7,0,0,1,4,0,2,3,0,3.34,8.29,46,420952,3,158200,153,763.45,1272.41,1017.93,8,39,45,39,19,2,1,7,12,0,6,7,0,4.12,4.83,93,1195735,9,445900,272,766.80,1272.73,1019.76,19,70,74,72,30,6,1,18,30,0,10,14,2,4.53,5.02,149,1625130,17,564843,483,765.93,1269.23,1017.58,28,130,129,131,50,14,1,35,61,0,17,21,3,5.06,8.62,305,3420907,60,2296870,1068,853.03,1410.45,1131.74,63,266,267,262,149,57,4,70,121,1,40,77,5,8.38,10.92,689,8404624,114,3503058,2283,853.88,1411.45,1132.66,143,566,578,552,319,108,17,135,236,2,91,195,14,16331452
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10293,2013-09-05,47,37.6,2.0,NaN,NaN,NaN,NaN,9.4,NaN,OwnerOccupier,Troickij okrug,1.631523e+07,39873,0.375974,0.075424,2870,NaN,0,3097,NaN,0,0,NaN,0,0,3,2,no,0,0,0,no,no,no,no,no,no,no,no,143661,65525,78136,6363,3275,3088,24009,12128,11881,9501,2903,6598,2870,1442,1428,3097,1618,1479,7060,3655,3405,31367,15559,15808,5569,2857,2712,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,45,26.851162,21.700477,259.736895,21.644741,0.179595,14.780638,15.801314,0.021850,0.156078,15.682710,2.379335,26.025390,21.105790,253.269480,108.0,21.044517,27.094411,108,0.086188,1.034255,1.091549,no,19.812419,32.409979,35.243969,36.372722,37.123240,0.620291,38,no,8.419382,46,15.274861,no,39.177263,32,24.148131,8,38.276209,31.278051,20.658986,17.165993,24.665657,20.915365,20.892351,1.126588,0.856807,24.831987,24.887386,28.728715,23.482363,10.373770,46.097311,21.459988,25.551158,21.665473,14.215808,14.442127,0.722316,14.780638,16.500661,0.354740,17.453648,28.289701,25.775431,21.365727,0.270372,no data,32.11,11.38,0,0,0,0,1,1000.00,1500.00,1250.00,0,0,0,1,0,0,0,0,2,0,0,0,0,46.27,10.78,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,2,0,0,1,1,53.19,9.09,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,2,0,0,2,2,56.02,7.77,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,2,0,0,2,2,53.15,4.94,0,0,0,0,2,1250.00,2000.00,1625.00,0,0,0,1,1,0,0,0,3,0,0,3,2,45.06,3.40,0,0,0,0,6,1416.67,2333.33,1875.00,0,0,1,1,3,1,0,0,8,0,0,3,2,4462240
10307,2013-09-05,65,60.0,4.0,NaN,NaN,NaN,NaN,5.0,NaN,OwnerOccupier,Poselenie Voskresenskoe,2.149409e+07,7122,0.262459,0.017647,489,NaN,0,469,NaN,0,0,NaN,0,0,0,2,no,0,0,0,no,no,no,no,no,no,no,no,9553,4529,5024,1021,529,493,4568,2414,2155,1533,435,1099,489,254,236,469,242,228,1150,597,553,2155,1206,950,900,465,435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45,5.595301,2.254916,27.058996,2.254916,0.647239,0.826052,1.799915,0.314382,1.006133,0.970986,1.630750,11.435910,5.784237,69.410846,39.0,5.784237,9.879409,39,0.327357,3.928286,0.138168,yes,7.229763,20.483476,23.613614,24.893130,25.595974,4.540854,2,no,5.585990,38,1.128409,no,29.072494,32,9.943967,9,23.463447,17.103736,7.436487,4.798950,9.793209,9.530140,14.703756,6.287163,0.680017,5.192950,13.329847,21.911435,9.989170,4.096246,26.981749,3.262483,18.733878,8.802153,3.231528,5.072389,1.210613,0.826052,1.582378,0.756119,2.797455,21.472421,14.917332,13.029959,1.314915,no data,9.88,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,13.93,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,1,0,13.83,1.42,0,0,0,0,1,1000.00,1500.00,1250.00,0,0,0,1,0,0,0,0,1,0,0,1,0,12.39,1.55,0,0,0,0,2,1000.00,1500.00,1250.00,0,0,0,2,0,0,0,1,2,0,0,3,0,10.54,2.14,0,0,0,0,3,1000.00,1500.00,1250.00,0,0,0,3,0,0,0,1,3,1,0,5,0,17.92,4.75,0,0,5,262000,18,700.00,1125.00,912.50,2,4,4,8,0,0,0,1,7,1,0,12,1,5615010
10331,2013-09-06,37,29.6,14.0,NaN,NaN,NaN,NaN,7.4,NaN,OwnerOccupier,Severnoe Tushino,9.249237e+06,156377,0.374068,0.000000,10190,4116.0,5,11319,9891.0,5,0,1145.0,3,0,1,2,no,0,5,0,no,no,no,no,no,no,no,no,53786,24231,29555,22961,12039,10922,93843,47269,46574,39573,12538,27035,10190,5334,4856,11319,5929,5390,26095,13597,12498,11372,5629,5743,20140,10531,9609,318.0,50.0,7.0,1.0,16.0,9.0,235.0,0.0,0.0,0.0,318.0,0.0,2.0,165.0,93.0,58.0,22,2.106990,0.962075,11.544904,0.962075,0.627262,0.313182,0.605801,0.250369,0.993856,17.934920,3.455140,8.085736,4.749161,56.989927,4.0,4.860584,7.131596,4,0.255839,3.070063,0.542258,no,2.697194,10.605813,13.300150,14.050448,15.340756,1.365305,14,no,2.697194,1,1.366583,no,14.504530,83,6.748425,1,22.603760,5.404111,2.359338,1.395925,5.514439,0.937195,21.286410,2.277115,0.488728,2.600833,8.066383,4.181652,0.511543,1.834742,10.764598,2.077434,7.929311,1.256931,0.509848,0.488728,1.086152,0.313182,1.403418,2.490851,9.099035,14.016827,10.999641,1.306670,0.256093,satisfactory,18.99,0.00,1,9881,0,0,2,500.00,1000.00,750.00,1,0,1,0,0,0,0,0,0,0,0,1,0,13.41,0.03,1,9881,3,124078,10,566.67,1000.00,783.33,1,2,5,2,0,0,0,0,0,0,0,3,0,15.12,5.94,2,9881,4,174458,19,583.33,1027.78,805.56,1,5,9,3,1,0,0,1,0,0,1,5,1,16.54,7.85,2,9881,8,226898,30,607.41,1055.56,831.48,3,8,12,5,2,0,0,3,0,0,1,10,1,22.07,9.27,6,61771,15,372598,67,645.00,1100.00,872.50,7,19,23,13,4,1,0,7,4,0,1,16,1,19.58,10.64,34,1147471,40,1193552,162,713.61,1197.28,955.44,15,43,48,38,15,3,0,11,12,0,1,54,5,6060000
10392,2013-09-10,38,30.4,15.0,NaN,NaN,NaN,NaN,7.6,NaN,OwnerOccupier,Nekrasovka,1.139168e+07,19940,0.055644,0.243205,1706,2395.0,5,1564,7377.0,5,0,540.0,0,0,0,4,no,0,0,0,no,yes,no,no,no,no,no,no,247469,112902,134567,3459,1782,1677,13331,6670,6661,3150,948,2202,1706,862,844,1564,821,743,3831,1973,1858,55710,27242,28468,3112,1600,1512,43.0,3.0,0.0,0.0,10.0,2.0,28.0,0.0,0.0,0.0,41.0,0.0,1.0,7.0,10.0,23.0,108,0.913144,0.369301,4.431607,0.369301,1.553718,0.480208,3.008939,1.678090,0.754633,1.530345,3.643177,1.235872,3.863017,46.356201,75.0,3.458366,5.268030,75,0.159567,1.914802,0.741579,no,5.686275,13.645008,17.648389,18.407120,19.763938,3.262172,11,no,4.299129,7,2.832923,no,25.256469,5,7.092672,14,9.425426,16.853464,3.436254,5.815850,10.304551,4.441775,10.103147,4.001085,2.913977,7.361991,7.361991,13.430703,6.364524,1.059289,12.078101,3.983903,8.900627,5.081010,2.160933,5.273047,1.818087,0.480208,3.473849,0.922894,9.895090,8.612007,7.215515,6.759573,2.083159,good,0.00,0.00,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,3.41,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,0,0.00,9.37,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,0,0.84,14.02,0,0,0,0,0,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,0,0,4.71,14.44,0,0,2,41100,3,833.33,1333.33,1083.33,0,0,1,2,0,0,0,0,2,0,0,1,1,13.50,7.69,0,0,3,43437,14,771.43,1285.71,1028.57,0,1,6,6,1,0,0,4,6,0,0,4,1,4074000

Check mistakes in categorical data

In [12]:
dtype_df = train_df.dtypes.reset_index()
dtype_df.columns = ["Name", "Count"]
display(dtype_df.groupby("Count").aggregate('count').reset_index())

dtype_df.columns = ["Name", "Type"]
display(dtype_df[dtype_df['Type'] == 'object'])

     Count  Name
0    int64   156
1  float64   119
2   object    16

                          Name    Type
0                    timestamp  object
10                product_type  object
11                    sub_area  object
28      culture_objects_top_25  object
32   thermal_power_plant_raion  object
33          incineration_raion  object
34         oil_chemistry_raion  object
35             radiation_raion  object
36     railroad_terminal_raion  object
37            big_market_raion  object
38       nuclear_reactor_raion  object
39    detention_facility_raion  object
105                water_1line  object
113            big_road1_1line  object
117             railroad_1line  object
151                    ecology  object

In [13]:
train_df['sub_area'].value_counts()

Poselenie Sosenskoe               1776
Nekrasovka                        1611
Poselenie Vnukovskoe              1372
Poselenie Moskovskij               925
Poselenie Voskresenskoe            713
                                  ...
Molzhaninovskoe                      3
Poselenie Shhapovskoe                2
Poselenie Kievskij                   2
Poselenie Klenovskoe                 1
Poselenie Mihajlovo-Jarcevskoe       1
Name: sub_area, Length: 146, dtype: int64

So, there is no problems in naming of categorical data

In [14]:
train_df.describe()

,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,area_m,raion_popul,green_zone_part,indust_part,children_preschool,preschool_quota,preschool_education_centers_raion,children_school,school_quota,school_education_centers_raion,school_education_centers_top_20_raion,hospital_beds_raion,healthcare_centers_raion,university_top_20_raion,sport_objects_raion,additional_education_raion,culture_objects_top_25_raion,shopping_centers_raion,office_raion,full_all,male_f,female_f,young_all,young_male,young_female,work_all,work_male,work_female,ekder_all,ekder_male,ekder_female,0_6_all,0_6_male,0_6_female,7_14_all,7_14_male,7_14_female,0_17_all,0_17_male,0_17_female,16_29_all,16_29_male,16_29_female,0_13_all,0_13_male,0_13_female,raion_build_count_with_material_info,build_count_block,build_count_wood,build_count_frame,build_count_brick,build_count_monolith,build_count_panel,build_count_foam,build_count_slag,build_count_mix,raion_build_count_with_builddate_info,build_count_before_1920,build_count_1921-1945,build_count_1946-1970,build_count_1971-1995,build_count_after_1995,ID_metro,metro_min_avto,metro_km_avto,metro_min_walk,metro_km_walk,kindergarten_km,school_km,park_km,green_zone_km,industrial_km,water_treatment_km,cemetery_km,incineration_km,railroad_station_walk_km,railroad_station_walk_min,ID_railroad_station_walk,railroad_station_avto_km,railroad_station_avto_min,ID_railroad_station_avto,public_transport_station_km,public_transport_station_min_walk,water_km,mkad_km,ttk_km,sadovoe_km,bulvar_ring_km,kremlin_km,big_road1_km,ID_big_road1,big_road2_km,ID_big_road2,railroad_km,zd_vokzaly_avto_km,ID_railroad_terminal,bus_terminal_avto_km,ID_bus_terminal,oil_chemistry_km,nuclear_reactor_km,radiation_km,power_transmission_line_km,thermal_power_plant_km,ts_km,big_market_km,market_shop_km,fitness_km,swim_pool_km,ice_rink_km,stadium_km,basketball_km,hospice_morgue_km,detention_facility_km,public_healthcare_km,university_km,workplaces_km,shopping_centers_km,office_km,additional_education_km,preschool_km,big_church_km,church_synagogue_km,mosque_km,theater_km,museum_km,exhibition_km,catering_km,green_part_500,prom_part_500,office_count_500,office_sqm_500,trc_count_500,trc_sqm_500,cafe_count_500,cafe_sum_500_min_price_avg,cafe_sum_500_max_price_avg,cafe_avg_price_500,cafe_count_500_na_price,cafe_count_500_price_500,cafe_count_500_price_1000,cafe_count_500_price_1500,cafe_count_500_price_2500,cafe_count_500_price_4000,cafe_count_500_price_high,big_church_count_500,church_count_500,mosque_count_500,leisure_count_500,sport_count_500,market_count_500,green_part_1000,prom_part_1000,office_count_1000,office_sqm_1000,trc_count_1000,trc_sqm_1000,cafe_count_1000,cafe_sum_1000_min_price_avg,cafe_sum_1000_max_price_avg,cafe_avg_price_1000,cafe_count_1000_na_price,cafe_count_1000_price_500,cafe_count_1000_price_1000,cafe_count_1000_price_1500,cafe_count_1000_price_2500,cafe_count_1000_price_4000,cafe_count_1000_price_high,big_church_count_1000,church_count_1000,mosque_count_1000,leisure_count_1000,sport_count_1000,market_count_1000,green_part_1500,prom_part_1500,office_count_1500,office_sqm_1500,trc_count_1500,trc_sqm_1500,cafe_count_1500,cafe_sum_1500_min_price_avg,cafe_sum_1500_max_price_avg,cafe_avg_price_1500,cafe_count_1500_na_price,cafe_count_1500_price_500,cafe_count_1500_price_1000,cafe_count_1500_price_1500,cafe_count_1500_price_2500,cafe_count_1500_price_4000,cafe_count_1500_price_high,big_church_count_1500,church_count_1500,mosque_count_1500,leisure_count_1500,sport_count_1500,market_count_1500,green_part_2000,prom_part_2000,office_count_2000,office_sqm_2000,trc_count_2000,trc_sqm_2000,cafe_count_2000,cafe_sum_2000_min_price_avg,cafe_sum_2000_max_price_avg,cafe_avg_price_2000,cafe_count_2000_na_price,cafe_count_2000_price_500,cafe_count_2000_price_1000,cafe_count_2000_price_1500,cafe_count_2000_price_2500,cafe_count_2000_price_4000,cafe_count_2000_price_high,big_church_count_2000,church_count_2000,mosque_count_2000,leisure_count_2000,sport_count_2000,market_count_2000,green_part_3000,prom_part_3000,office_count_3000,office_sqm_3000,trc_count_3000,trc_sqm_3000,cafe_count_3000,cafe_sum_3000_min_price_avg,cafe_sum_3000_max_price_avg,cafe_avg_price_3000,cafe_count_3000_na_price,cafe_count_3000_price_500,cafe_count_3000_price_1000,cafe_count_3000_price_1500,cafe_count_3000_price_2500,cafe_count_3000_price_4000,cafe_count_3000_price_high,big_church_count_3000,church_count_3000,mosque_count_3000,leisure_count_3000,sport_count_3000,market_count_3000,green_part_5000,prom_part_5000,office_count_5000,office_sqm_5000,trc_count_5000,trc_sqm_5000,cafe_count_5000,cafe_sum_5000_min_price_avg,cafe_sum_5000_max_price_avg,cafe_avg_price_5000,cafe_count_5000_na_price,cafe_count_5000_price_500,cafe_count_5000_price_1000,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,26330.000000,30304.000000,20899.000000,20899.000000,16867.000000,20899.000000,30471.000000,16912.000000,3.047100e+04,30471.000000,30471.000000,30471.000000,30471.000000,23783.000000,30471.000000,30471.000000,23786.000000,30471.000000,30471.000000,16030.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,25480.000000,30471.000000,30471.000000,30471.000000,30446.000000,30446.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30446.000000,30446.000000,30446.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04,30471.000000,17190.000000,17190.000000,17190.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04,30471.000000,3.047100e+04,30471.000000,23947.000000,23947.000000,23947.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04,30471.000000,3.047100e+04,30471.000000,26272.000000,26272.000000,26272.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.00000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04,30471.000000,3.047100e+04,30471.000000,28746.000000,28746.000000,28746.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04,30471.000000,3.047100e+04,30471.000000,29480.000000,29480.000000,29480.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30293.000000,30471.000000,3.047100e+04,30471.000000,3.047100e+04,30471.000000,30174.000000,30174.000000,30174.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,54.583899,35.487809,7.670803,13.127757,1.827121,1879.104820,1.909804,9.358964,2.107025,1.765705e+07,84056.425552,0.218922,0.118871,5140.026156,3271.272464,4.065111,5354.269699,8324.970739,4.705031,0.109678,1190.738677,1.320895,0.138295,6.635030,2.896393,0.286732,4.200978,8.253454,1.463062e+05,67207.789603,79098.662105,11178.809491,5723.853106,5455.013948,53667.908897,27253.585803,26414.414821,19209.707164,5811.618162,13398.167438,5140.026156,2631.199173,2508.955696,5354.269699,2743.470349,2610.946507,12540.611303,6423.198517,6117.569525,31316.289849,15369.431066,15946.978767,9841.097535,5037.272489,4803.833153,328.660636,50.297449,40.848430,4.954984,108.048705,12.043642,107.236892,0.165581,4.491797,0.573155,328.328493,18.899294,26.721586,141.426413,80.130377,61.150824,72.484198,4.961273,3.701464,42.737601,3.561467,0.981684,1.323956,3.099942,0.300511,0.768831,11.167613,2.314765,10.884613,4.386945,52.643335,38.857321,4.587283,6.086609,45.707853,0.414136,4.969626,0.690947,6.274764,11.318152,14.056721,15.023338,16.044808,1.881276,11.515014,3.396649,22.414066,1.889380,17.214848,51.670966,9.992447,6.695514,17.401611,10.945350,4.410781,3.492231,7.340116,4.931418,13.283916,3.958882,1.154586,4.232376,6.123672,9.436658,4.787636,2.646493,14.551103,3.356771,6.855891,3.926702,1.505808,2.010973,1.328488,1.345235,2.330047,0.972014,7.739237,9.638074,7.063236,5.552256,0.687988,13.376270,5.718070,0.740868,13983.384333,0.558367,2.179726e+04,3.871845,741.319572,1247.023497,994.171628,0.343343,0.993732,0.980079,0.843786,0.542877,0.138624,0.029405,0.286403,0.582816,0.004890,0.070592,0.914476,0.123855,16.962456,8.783209,3.091858,6.226722e+04,1.978176,6.588079e+04,15.413705,710.916392,1206.616553,958.766491,1.022087,4.145253,3.942142,3.524335,1.951035,0.768698,0.060156,0.810804,1.821929,0.019166,0.469266,2.913131,0.380230,19.197470,10.599295,7.313905,1.403712e+05,3.726002,1.277149e+05,32.461652,714.064298,1206.014867,960.039761,2.106134,8.229563,8.764826,7.880706,3.831381,1.455384,0.19366,1.968396,3.664140,0.037806,0.945653,5.870795,0.766663,20.839356,11.224601,13.323291,2.464972e+05,5.967674,2.127588e+05,55.033474,719.978592,1210.908134,965.443455,3.590036,13.595747,15.230449,13.267336,6.651341,2.320633,0.377933,3.250369,6.204654,0.088051,1.915756,9.846182,1.170392,22.729128,10.977472,29.369204,5.432616e+05,11.827442,4.381316e+05,110.865807,765.900619,1283.334756,1024.617808,7.274622,27.782055,30.450297,26.685078,13.320108,4.646516,0.707131,6.122674,12.287979,0.199075,3.876440,20.239310,2.319944,22.769557,10.348669,71.356240,1.401057e+06,30.131863,1.173871e+06,265.528470,765.098467,1278.280635,1021.689513,17.806898,66.195530,73.442421,63.469660,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,57.422340,50.438997,5.319989,6.237104,1.481154,447.218337,0.851805,32.201557,0.880148,2.064961e+07,57871.285899,0.175090,0.118688,3816.625140,2169.759592,2.993795,3989.640917,4289.734174,3.445105,0.333328,1057.015001,1.492903,0.443796,6.571982,3.290058,1.510491,4.741812,23.536953,2.830251e+05,129444.557322,153630.894568,8287.957623,4275.438364,4020.546283,37483.559701,18939.154637,18643.132758,13174.721197,4073.828409,9144.326481,3816.625140,1973.220681,1846.598072,3989.640917,2054.521520,1941.380464,9253.046693,4769.593328,4491.734947,60381.518679,29298.648419,31108.976825,7290.007118,3760.750648,3536.907486,277.904011,46.937628,126.740377,14.926934,129.120421,19.278997,88.259709,1.133023,13.227435,1.530126,277.917031,60.983271,62.512263,125.427822,57.873880,114.222229,54.902277,6.553515,5.808432,69.303131,5.775261,2.121956,3.058145,3.965363,0.298402,0.717953,7.036351,1.451071,6.789709,3.836359,46.036303,27.766264,3.913735,4.794630,34.393019,1.272488,15.269861,0.434919,5.142492,8.066780,8.343162,8.475342,8.441964,1.297188,11.348724,1.871334,17.389323,1.972818,10.300605,35.336898,7.332000,3.790844,10.399510,7.249756,5.595367,4.552470,5.619330,4.804238,8.497170,3.447536,1.541425,4.626039,4.667856,7.642037,5.395468,2.952410,11.079856,4.341804,6.731484,4.907562,2.253759,2.306446,1.526219,3.053600,2.986937,0.748876,5.780424,7.112284,5.702807,5.304206,0.832922,16.051119,11.543731,2.283370,42610.018480,1.246089,8.158016e+04,11.283919,341.096003,526.539159,432.515382,1.358366,3.060434,2.268482,2.318533,2.137371,0.689183,0.182213,1.185288,2.163825,0.069758,0.386393,1.638809,0.401039,14.514966,11.517722,8.878419,1.438530e+05,3.246328,1.502797e+05,47.630608,224.430353,343.131803,282.627610,3.165629,13.860450,9.198459,10.498975,7.509812,3.959906,0.332504,2.492709,5.108369,0.137110,1.820254,3.332258,0.733212,14.200273,10.979479,20.972367,3.016844e+05,4.484812,2.126312e+05,97.445703,192.259841,291.297862,240.669095,5.975842,24.889911,22.130428,24.131591,13.511596,6.739314,0.90787,6.478909,9.737626,0.190731,3.347660,5.756788,1.120489,14.193700,9.641964,38.723061,5.036364e+05,6.341359,2.908315e+05,161.633967,199.372443,302.826289,250.014353,10.223272,39.158970,39.257771,39.205758,23.228122,9.722550,1.688527,10.000057,15.494051,0.283374,7.185760,9.218370,1.434803,14.017283,7.938243,81.352126,1.056128e+06,10.914428,4.697316e+05,290.134833,224.006719,353.299663,288.163451,18.242400,71.826492,69.528682,70.855732,41.282000,16.884524,2.775499,15.413697,25.785241,0.447815,13.188748,18.843867,2.271539,11.208471,5.668748,155.341362,2.303052e+06,23.924051,1.004810e+06,514.538671,152.408951,236.207686,194.117696,33.269057,125.934584,126.167671,124.076662,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.081628e+06,2546.000000,0.001879,0.000000,175.000000,0.000000,0.000000,168.000000,1012.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.546000e+03,1208.000000,1341.000000,365.000000,189.000000,177.000000,1633.000000,863.000000,771.000000,548.000000,156.000000,393.000000,175.000000,91.000000,85.000000,168.000000,87.000000,82.000000,411.000000,214.000000,198.000000,575.000000,308.000000,253.000000,322.000000,166.000000,156.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000470,0.000000,0.003737,0.000000,0.000000,0.274139,0.000000,0.198071,0.028153,0.337833,1.000000,0.028153,0.035191,1.000000,0.002804,0.033646,0.006707,0.013626,0.001935,0.000355,0.001947,0.072897,0.000364,1.000000,0.001935,1.000000,0.002299,0.136715,5.000000,0.062026,1.000000,0.510710,0.309811,0.004663,0.030266,0.400563,0.000000,0.661366,0.003847,0.000000,0.000000,0.000000,0.114746,0.005458,0.002517,0.041227,0.000000,0.000313,0.000000,0.000000,0.000000,0.000000,0.000000,0.004072,0.000000,0.005545,0.026788,0.007903,0.008949,0.000357,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,300.000000,500.000000,400.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,300.000000,500.000000,400.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,300.000000,500.000000,400.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,300.000000,500.000000,400.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.310000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,300.000000,500.000000,400.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.520000,0.210000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,300.000000,500.000000,400.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,38.000000,20.000000,3.000000,9.000000,1.000000,1967.000000,1.000000,4.000000,1.000000,7.307411e+06,21819.000000,0.063755,0.019509,1706.000000,1874.000000,2.000000,1564.000000,5782.000000,2.000000,0.000000,520.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,2.817900e+04,13522.000000,15031.000000,3459.000000,1782.000000,1677.000000,13996.000000,7394.000000,6661.000000,4695.000000,1331.000000,3365.000000,1706.000000,862.000000,844.000000,1564.000000,821.000000,743.000000,3831.000000,1973.000000,1858.000000,5829.000000,2955.000000,2874.000000,3112.000000,1600.000000,1512.000000,180.000000,13.000000,0.000000,0.000000,10.000000,2.000000,35.000000,0.000000,0.000000,0.000000,178.000000,0.000000,0.000000,14.000000,37.000000,14.000000,27.000000,1.721280,1.036568,11.484150,0.957013,0.199946,0.269716,0.973297,0.100951,0.288289,5.304559,1.334801,6.221938,1.931375,23.176502,18.000000,2.116856,3.235497,19.000000,0.101312,1.215747,0.339637,2.633404,5.339845,8.346336,9.256658,10.460471,0.779029,2.000000,2.103387,4.000000,0.655010,9.992420,32.000000,5.213745,3.000000,8.720666,5.237792,1.231846,0.976235,3.770411,2.057437,7.529625,1.543631,0.361170,1.709065,3.043924,4.018205,1.308226,1.118164,5.669662,1.279126,2.201193,1.016728,0.483758,0.555231,0.474842,0.285124,0.860469,0.532480,3.766071,4.225254,2.879357,2.243788,0.208621,1.480000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,500.000000,1000.000000,750.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.310000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,1.000000,543.170000,1000.000000,750.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.470000,1.520000,0.000000,0.000000e+00,0.000000,0.000000e+00,2.000000,585.710000,1000.000000,795.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,10.160000,3.120000,0.000000,0.000000e+00,1.000000,1.206500e+04,3.000000,607.690000,1000.000000,823.470000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,12.150000,4.240000,0.000000,0.000000e+00,2.000000,4.110000e+04,6.000000,650.000000,1102.270000,875.797500,0.000000,1.000000,2.000000,2.000000,1.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,5.000000,0.000000,14.780000,6.050000,2.000000,8.515900e+04,6.000000,2.620000e+05,20.000000,670.870000,1144.230000,909.380000,1.000000,4.000000,8.000000,6.000000,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06

Clean test data

In [15]:
# floor <= max_floor
wrong_max_floor = test_df['floor'] > test_df['max_floor']
display(test_df[wrong_max_floor][['floor', 'max_floor']])
# lets fix it
for index, row in test_df.iterrows():    
    if row['floor'] > row['max_floor']:
        test_df.loc[index, 'max_floor'] = row['floor']
display(test_df[wrong_max_floor][['floor', 'max_floor']])

       floor  max_floor
id
30479     21          1
30481      5          0
30488      7          1
30489     10          0
30490     10          0
...      ...        ...
38122      3          1
38123     14          1
38127      8          1
38132     14          0
38133     12          1

[643 rows x 2 columns]

       floor  max_floor
id
30479     21         21
30481      5          5
30488      7          7
30489     10         10
30490     10         10
...      ...        ...
38122      3          3
38123     14         14
38127      8          8
38132     14         14
38133     12         12

[643 rows x 2 columns]

In [16]:
nan_max_floor = test_df['max_floor'].isna()
display(test_df[nan_max_floor][['floor', 'max_floor']])
# lets fix it
for index, row in test_df.iterrows():    
    if np.isnan(row['max_floor']):
        test_df.loc[index, 'max_floor'] = row['floor']
display(test_df[nan_max_floor][['floor', 'max_floor']])

Empty DataFrame
Columns: [floor, max_floor]
Index: []

Empty DataFrame
Columns: [floor, max_floor]
Index: []

In [17]:
# life_sq <= full_sq
wrong_full_sq = test_df['life_sq'] > test_df['full_sq']
display(test_df[wrong_full_sq][['life_sq', 'full_sq']])

# lets fix it
for index, row in test_df.iterrows():    
    if row['life_sq'] > row['full_sq']:
        test_df.loc[index, 'full_sq'] = row['life_sq']
display(test_df[wrong_full_sq][['life_sq', 'full_sq']])

       life_sq  full_sq
id
30538    30.60    29.80
30593   104.28   100.04
30645    60.00    57.80
30938    37.80     0.00
31075   742.00    74.20
32370   361.00    36.10
32501    93.20    51.90
32505   237.00    40.20
33265   869.00    86.90
33278    33.80    14.80
35661   283.00    56.30
35857    42.07     1.00

       life_sq  full_sq
id
30538    30.60    30.60
30593   104.28   104.28
30645    60.00    60.00
30938    37.80    37.80
31075   742.00   742.00
32370   361.00   361.00
32501    93.20    93.20
32505   237.00   237.00
33265   869.00   869.00
33278    33.80    33.80
35661   283.00   283.00
35857    42.07    42.07

In [18]:
# kitch_sq <= full_sq
wrong_kitch_sq = test_df['kitch_sq'] > test_df['full_sq']
display(test_df[wrong_kitch_sq][['kitch_sq', 'full_sq', 'life_sq']])

# lets fix it
for index, row in test_df.iterrows():    
    if row['kitch_sq'] > row['full_sq']:
        test_df.loc[index, 'kitch_sq'] = row['full_sq'] - row['life_sq']
display(test_df[wrong_kitch_sq][['kitch_sq', 'full_sq', 'life_sq']])

       kitch_sq  full_sq  life_sq
id
31381    1968.0     53.9     32.1
34333      74.0     38.6     19.1
36811    1000.0     58.5     58.5
36970      53.0     44.1     30.0

       kitch_sq  full_sq  life_sq
id
31381      21.8     53.9     32.1
34333      19.5     38.6     19.1
36811       0.0     58.5     58.5
36970      14.1     44.1     30.0

In [19]:
# kitch_sq <= full_sq
nan_kitch_sq = test_df['kitch_sq'].isna()
display(test_df[nan_kitch_sq])

# lets fix it
for index, row in test_df.iterrows():
    if np.isnan(row['full_sq']):
        continue
    if np.isnan(row['kitch_sq']):
        if np.isnan(row['life_sq']):
            test_df.loc[index, 'life_sq'] = row['full_sq'] * 0.8
            test_df.loc[index, 'kitch_sq'] = row['full_sq'] * 0.2
        else:
            test_df.loc[index, 'kitch_sq'] = row['full_sq'] - row['life_sq']
display(test_df[nan_kitch_sq])

Empty DataFrame
Columns: [timestamp, full_sq, life_sq, floor, max_floor, material, build_year, num_room, kitch_sq, state, product_type, sub_area, area_m, raion_popul, green_zone_part, indust_part, children_preschool, preschool_quota, preschool_education_centers_raion, children_school, school_quota, school_education_centers_raion, school_education_centers_top_20_raion, hospital_beds_raion, healthcare_centers_raion, university_top_20_raion, sport_objects_raion, additional_education_raion, culture_objects_top_25, culture_objects_top_25_raion, shopping_centers_raion, office_raion, thermal_power_plant_raion, incineration_raion, oil_chemistry_raion, radiation_raion, railroad_terminal_raion, big_market_raion, nuclear_reactor_raion, detention_facility_raion, full_all, male_f, female_f, young_all, young_male, young_female, work_all, work_male, work_female, ekder_all, ekder_male, ekder_female, 0_6_all, 0_6_male, 0_6_female, 7_14_all, 7_14_male, 7_14_female, 0_17_all, 0_17_male, 0_17_female, 16_29_all, 16_29_male, 16_29_female, 0_13_all, 0_13_male, 0_13_female, raion_build_count_with_material_info, build_count_block, build_count_wood, build_count_frame, build_count_brick, build_count_monolith, build_count_panel, build_count_foam, build_count_slag, build_count_mix, raion_build_count_with_builddate_info, build_count_before_1920, build_count_1921-1945, build_count_1946-1970, build_count_1971-1995, build_count_after_1995, ID_metro, metro_min_avto, metro_km_avto, metro_min_walk, metro_km_walk, kindergarten_km, school_km, park_km, green_zone_km, industrial_km, water_treatment_km, cemetery_km, incineration_km, railroad_station_walk_km, railroad_station_walk_min, ID_railroad_station_walk, railroad_station_avto_km, ...]
Index: []

Empty DataFrame
Columns: [timestamp, full_sq, life_sq, floor, max_floor, material, build_year, num_room, kitch_sq, state, product_type, sub_area, area_m, raion_popul, green_zone_part, indust_part, children_preschool, preschool_quota, preschool_education_centers_raion, children_school, school_quota, school_education_centers_raion, school_education_centers_top_20_raion, hospital_beds_raion, healthcare_centers_raion, university_top_20_raion, sport_objects_raion, additional_education_raion, culture_objects_top_25, culture_objects_top_25_raion, shopping_centers_raion, office_raion, thermal_power_plant_raion, incineration_raion, oil_chemistry_raion, radiation_raion, railroad_terminal_raion, big_market_raion, nuclear_reactor_raion, detention_facility_raion, full_all, male_f, female_f, young_all, young_male, young_female, work_all, work_male, work_female, ekder_all, ekder_male, ekder_female, 0_6_all, 0_6_male, 0_6_female, 7_14_all, 7_14_male, 7_14_female, 0_17_all, 0_17_male, 0_17_female, 16_29_all, 16_29_male, 16_29_female, 0_13_all, 0_13_male, 0_13_female, raion_build_count_with_material_info, build_count_block, build_count_wood, build_count_frame, build_count_brick, build_count_monolith, build_count_panel, build_count_foam, build_count_slag, build_count_mix, raion_build_count_with_builddate_info, build_count_before_1920, build_count_1921-1945, build_count_1946-1970, build_count_1971-1995, build_count_after_1995, ID_metro, metro_min_avto, metro_km_avto, metro_min_walk, metro_km_walk, kindergarten_km, school_km, park_km, green_zone_km, industrial_km, water_treatment_km, cemetery_km, incineration_km, railroad_station_walk_km, railroad_station_walk_min, ID_railroad_station_walk, railroad_station_avto_km, ...]
Index: []